# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.tmp

# Среда разработки
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Операционная система
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/
.Python
